


{% load staticfiles %}


<!-- navigation start -->

<section class="navigation">
    <div class="container">
        <nav class="clearfix">
            <div class="nav-header">
                <div class="logo">
                    <a href="index.html" class="brand"><img src="{% static 'images/logo.png' %}" src="logo"></a>
                </div>
                <button class="toggle-bar"><span></span></button>
            </div>
            <ul class="menu">
                <li class="dropper"><a href="javaScript:void(0)">Syllabus</a>
                    <ul class="drop-menu">
                        <li><a href="">First Semester</a></li>
                        <li><a href="">Second Semester</a></li>
                    </ul>
                </li>
                <li class="dropper"><a href="javaScript:void(0)">Old Questions</a>
                    <ul class="drop-menu">
                        <li><a href="">First Semester</a></li>
                        <li><a href="">Second Semester</a></li>
                    </ul>
                </li>
                <li class="dropper"><a href="javaScript:void(0)">Notes</a>
                    <ul class="drop-menu">
                        <li><a href="">First Semester</a></li>
                        <li><a href="">Second Semester</a></li>
                    </ul>
                </li>
                <li class="dropper"><a href="javaScript:void(0)">Solutions</a>
                    <ul class="drop-menu">
                        <li><a href="">First Semester</a></li>
                        <li><a href="">Second Semester</a></li>
                    </ul>
                </li>
                <li><a href="#">Result</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </nav>
    </div>
</section>

<!-- navigation end -->
